html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.carousel{
    width: 100%;
    
}
.carousel-item img{
    width: 100%;
}
.card img{
    width: 320;
    height: 320;
    }
.card {
    align-items: center;
    text-align: center;
    height: auto;
}
.card button{
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}
.item:hover{
    cursor: pointer;
    border: 1px solid grey;
}
.buttons_nav button{
    width: 95;
    cursor: pointer;
}
.row{
    margin-top: 40px;
}
.footer{
    margin-top: 10px;
    color:whitesmoke;
}
.footer li{
    margin-left:10px;
}
.foot_right{    
    align-items: center;
}
.foot_right a{
    text-decoration: none;
    color:white;
}
.footer{
    
    text-align: center;
    justify-content: center;
}

.footer ul{
    text-align: center;
    justify-content: center;
}

